MIMC_APP_ID=replace-with-app-id
MIMC_APP_KEY=replace-on-server
MIMC_APP_SECRET=replace-on-server
MIMC_REGION_KEY=REGION_CN
MIMC_TOKEN_UPSTREAM=https://mimc.chat.xiaomi.net/api/account/token
MIMC_TOKEN_TIMEOUT=10
